body{
    font-family: 'Gentium Book Plus', serif;
    margin: 0;
}
.header{
    display: flex;
    height: 400px;
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.head{
    margin: auto;
    width: 350px;
}
.color-white {
    color: white;
}
h1{
    font-size: 32px;
    font-weight: 700;
}
.link-button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.link-button:hover{
    background-color: #faa5a5;
}
.middle-containts {
    text-align: center;
    margin: 100px auto;
    width: 900px;
}
.middle-sub-containts{
    margin-bottom: 50px;
}
.link-button2 {
    margin: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-decoration: none;
    padding: 14px 20px;
    font-weight: 700;
}
.tell-me-story{
    color: white;
    background-color: #009fbb;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.just-the-fact{
    color: black;
    background-color: #e5f2f5;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}
.just-the-fact:hover{
    background-color: #6f7475;
}
.triple-containts{
    display: flex;
    margin-bottom: 100px;
}
.triple-sub-containts{
    width: 30%;
    padding-left: 2%;
    padding-right: 2%;
}
.triple-sub-containts img{
    padding-top: 20px;
    width: 300px;
}
.tk-button{
    margin-bottom: 50px;
}
.tk-button button{
    border: none;
    color: black;
    background-color: white;
    height: 100px;
    width: 110px;
}
#button-color{
    border: 2px solid #FF5959;
    border-radius: 10%;
    background-color: #faa5a5;
    color: #FF5959;
}
.tk-button button:hover{
    border: 2px solid #FF5959;
    border-radius: 10%;
    background-color: #faa5a5;
}
input{
    font-weight: 600;
    margin-bottom: 40px;
    border: none;
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    border-bottom: 2px solid rgb(202, 199, 199);
}
.triple-padding{
    margin-right: 7px;
    border: none;
    border-radius: 20px;
}
.donation-plan{
    text-align: left;
    margin-right: 5px;
}
.icon {
    max-width: 30px;
    height: auto;
}
#food{
    background-color: #e5f9fc;
}
#shelter {
    background-color: #ffe6e6;
}
#education {
    background-color: #fcf4e0;
}
footer{
    background-color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#h1-footer{
    font-family: 'Lobster', cursive;
    color: #FF5959;
}